@import "./pages/scss/navbar-style";
@import "./pages/scss/home-page-style";
@import "./pages/scss/button-style";
@import "./pages/scss/map-api-style";
@import "./pages/scss/about-style";
@import "./pages/scss/articles-styles";
@import "./pages/scss/collection-style";
@import "./pages/scss/footer-style";
@import "./pages/scss/about-style";

/**NOTE - Global Styles */
* {
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
p {
  line-height: 1.5;
}
.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 40px 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;

  img {
    margin-right: 15px;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;

  img {
    margin-right: 15px;
  }
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 50px;
}
