#article-section {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;

  figure {
    margin-bottom: 10px;
  }

  ul {
    display: inline-block;
    list-style: circle;
    padding: 0;

    li {
      list-style-position: inside;
      padding-bottom: 5px;
    }
  }
}
