#article-section {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;

  figure {
    margin-bottom: 10px;
  }

  ul {
    display: inline-block;
    list-style: circle;
    padding: 0;

    li {
      list-style-position: inside;
      padding-bottom: 5px;
    }
  }
}

//tablet View
@media only screen and (max-width: $laptop) {
  #articles-section {
    .card-container {
      width: 330px !important;
      margin: 15px !important;
      padding: 5px !important;
    }
  }
}
