.myButton {
  background-color: #efe3b1;
  border-radius: 29px;
  border: 1px solid #081f2d;
  color: #081f2d;
  font-size: 15px;
  padding: 10px 45px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: white;
    color: #081f2d;
    border-color: #081f2d;
    transition: 0.3s;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.btn-back {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding: 0 10px 0 30px;
  left: -8px;
  top: 15px;

  &:active {
    top: 16px;
  }
  line-height: 44px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.btn-back:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  right: 0;
  height: 34px;
  margin-top: 5px;
  z-index: -1;

  border: 1px solid #000;
  border-left-width: 0;
  border-radius: 5px;

  background: #fff;
}

.btn-back:after {
  content: "";

  position: absolute;
  box-sizing: border-box;
  left: 11px;
  height: 27px;
  width: 26px;
  top: 8px;
  z-index: -2;

  border: 1px solid #000;
  border-top: 0 transparent;
  border-right: 0 transparent;
  border-radius: 7px 5px 5px 7px;

  background: #fff;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
// //Laptop View
// @media only screen and (max-width: $desktop) {
//   #collection {
//     background-color: red;
//   }
// }

// //tablet View
// @media only screen and (max-width: $laptop) {
//   #collection {
//     background-color: yellow;
//   }
// }

// //Large Phone View
// @media only screen and (max-width: $tablet) {
//   #collection {
//     background-color: pink;
//   }
// }

// //Phone View
// @media only screen and (max-width: $phone) {
//   #collection {
//     background-color: orange;
//   }
// }
