/***** Home Section Start Starts *****/
$bg-brown: #b3a18f;
$arrow-clr: white;
#home-header {
  background-image: url("../../assets/images/orange-car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  min-height: auto;
  color: aliceblue;

  p {
    padding-bottom: 5px;
  }

  .color-picker {
    text-align: center;
    position: relative;

    top: 150px;

    h3 {
      font-size: 25px;
    }
    .colors {
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 100%;
      border-style: solid;
      margin: 10px;
      cursor: pointer;
      &:nth-child(1) {
        background-color: orangered;
      }
      &:nth-child(2) {
        background-color: blue;
      }
      &:nth-child(3) {
        background-color: yellow;
      }
      &:nth-child(4) {
        background-color: green;
      }
    }
  }
}

#about-section {
  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: top left;
    margin-right: 30px;
  }
  .about-content {
    position: relative;
    display: inline-block;
    .myButton {
      // position: absolute;
      // bottom: 0;
      // right: 0;
    }
  }
}

#articles-section {
  background-color: $bg-brown;
  .card-container {
    width: 400px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.102);
    }

    img {
      width: 100%;
    }
  }
}

#collection-section {
  a {
    font-size: 35px;
    color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.2s ease-in-out;
  }

  a:hover {
    color: $arrow-clr;
  }

  .row {
    #category1 {
      a {
        position: relative;
        top: 210px;
      }
      background-image: url("https://images.unsplash.com/photo-1588127333419-b9d7de223dcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 60%;
      height: 430px;
      object-fit: cover;

      .arrow-link:after {
        z-index: 1;
        font-size: 180px;
        font-family: "Times New Roman", Times, serif;
        position: relative;
        content: "\2192";
        color: $arrow-clr;
        margin-left: -150px;
        top: 37px;
        display: inline-block;
        -webkit-transition: all 0.2s ease-in-out;
      }

      .arrow-link:hover:after {
        transform: translateX(150px);
      }
    }
    .category-right-container {
      margin-left: 30px;

      width: 40%;
      #category2 {
        a {
          position: relative;
          top: 30px;
        }
        width: 100%;
        background-image: url("https://images.unsplash.com/photo-1563720223523-491ff04651de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        object-fit: cover;

        .arrow-link:after {
          z-index: 1;
          font-size: 140px;
          font-family: "Times New Roman", Times, serif;
          position: relative;
          content: "\2192";
          color: $arrow-clr;
          margin-left: -105px;
          top: 25px;
          display: inline-block;
          -webkit-transition: all 0.2s ease-in-out;
        }

        .arrow-link:hover:after {
          transform: translateX(110px);
        }
      }
      #category3 {
        a {
          position: relative;
          top: 30px;
        }
        width: 100%;
        background-image: url("https://images.unsplash.com/photo-1614377284368-a6d4f911edc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        object-fit: cover;
        margin-top: 30px;
        .arrow-link:after {
          font-size: 140px;
          z-index: 1;
          font-family: "Times New Roman", Times, serif;
          position: relative;
          content: "\2192";
          color: $arrow-clr;
          margin-left: -130px;
          top: 25px;
          display: inline-block;
          -webkit-transition: all 0.2s ease-in-out;
        }

        .arrow-link:hover:after {
          transform: translateX(135px);
        }
      }
    }
  }
}

#featured-section {
  background-color: $bg-brown;
  img {
    width: 700px;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }
}

#location-section {
  .container {
    height: 800px;
    padding-bottom: 80px;
  }
}

/***** Home Section Start Ends *****/
