@charset "UTF-8";
/***** NAVBAR Start *****/
@import url(https://fonts.googleapis.com/css?family=Raleway);
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1em;
  font-size: 15px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

.logo {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.navbar-bg {
  background-color: #5b7071;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  width: 100%;
  font-size: 27px;
  color: aliceblue;
}
.menu .logo {
  background-color: rgba(255, 255, 255, 0.235);
  border-radius: 5px;
}
.menu a {
  position: relative;
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
}
.menu a:visited {
  color: aliceblue;
  text-decoration: none;
}
.menu a:hover {
  color: aliceblue;
  text-decoration: none;
}
.menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  margin: auto;
  height: 3px;
  bottom: -5px;
  background-color: aliceblue;
  visibility: hidden;
  transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.menu li.active a:before,
.menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #4e6c50;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media only screen and (max-width: 992px) {
  .navbar {
    font-size: 13px;
  }
  .navbar .logo span {
    font-size: 15px;
  }
  .menu li {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 840px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 85px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: red;
    background-color: #f0ebce;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu li:hover:not(.active) {
    transform: skew(0deg);
  }
  .menu .active {
    transform: skew(0deg);
  }
}
@media only screen and (max-width: 992px) {
  .navbar {
    font-size: 13px;
  }
  .navbar .logo span {
    font-size: 15px;
  }
  .menu li {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 840px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 85px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: red;
    background-color: #f0ebce;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu li:hover:not(.active) {
    transform: skew(0deg);
  }
  .menu .active {
    transform: skew(0deg);
  }
}
/***** NAVBAR Ends *****/
/***** Home Section Start Starts *****/
#home-header {
  background-image: url("../../assets/images/orange-car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  min-height: auto;
  color: aliceblue;
}
#home-header p {
  padding-bottom: 5px;
}
#home-header .color-picker {
  text-align: center;
  position: relative;
  top: 150px;
}
#home-header .color-picker h3 {
  font-size: 25px;
}
#home-header .color-picker .colors {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  border-style: solid;
  margin: 10px;
  cursor: pointer;
}
#home-header .color-picker .colors:nth-child(1) {
  background-color: orangered;
}
#home-header .color-picker .colors:nth-child(2) {
  background-color: blue;
}
#home-header .color-picker .colors:nth-child(3) {
  background-color: yellow;
}
#home-header .color-picker .colors:nth-child(4) {
  background-color: green;
}

#about-section h2 {
  margin-top: 0;
}
#about-section img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: top left;
  margin-right: 30px;
}
#about-section .about-content {
  position: relative;
  display: inline-block;
}
#articles-section {
  background-color: #b3a18f;
}
#articles-section .card-container {
  width: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#articles-section .card-container:hover {
  background-color: rgba(255, 255, 255, 0.102);
}
#articles-section .card-container img {
  width: 100%;
}

#collection-section a {
  font-size: 35px;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease-in-out;
}
#collection-section a:hover {
  color: white;
}
#collection-section .row #category1 {
  background-image: url("https://images.unsplash.com/photo-1588127333419-b9d7de223dcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 430px;
  object-fit: cover;
}
#collection-section .row #category1 a {
  position: relative;
  top: 210px;
}
#collection-section .row #category1 .arrow-link:after {
  z-index: 1;
  font-size: 180px;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  content: "→";
  color: white;
  margin-left: -150px;
  top: 37px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
}
#collection-section .row #category1 .arrow-link:hover:after {
  transform: translateX(150px);
}
#collection-section .row .category-right-container {
  margin-left: 30px;
  width: 40%;
}
#collection-section .row .category-right-container #category2 {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1563720223523-491ff04651de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  object-fit: cover;
}
#collection-section .row .category-right-container #category2 a {
  position: relative;
  top: 30px;
}
#collection-section .row .category-right-container #category2 .arrow-link:after {
  z-index: 1;
  font-size: 140px;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  content: "→";
  color: white;
  margin-left: -105px;
  top: 25px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
}
#collection-section .row .category-right-container #category2 .arrow-link:hover:after {
  transform: translateX(110px);
}
#collection-section .row .category-right-container #category3 {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1614377284368-a6d4f911edc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  object-fit: cover;
  margin-top: 30px;
}
#collection-section .row .category-right-container #category3 a {
  position: relative;
  top: 30px;
}
#collection-section .row .category-right-container #category3 .arrow-link:after {
  font-size: 140px;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  content: "→";
  color: white;
  margin-left: -130px;
  top: 25px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
}
#collection-section .row .category-right-container #category3 .arrow-link:hover:after {
  transform: translateX(135px);
}

#featured-section {
  background-color: #b3a18f;
}
#featured-section img {
  width: 700px;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

#location-section .container {
  height: 800px;
  padding-bottom: 80px;
}

/***** Home Section Start Ends *****/
.myButton {
  background-color: #efe3b1;
  border-radius: 29px;
  border: 1px solid #081f2d;
  color: #081f2d;
  font-size: 15px;
  padding: 10px 45px;
  cursor: pointer;
  transition: 0.3s;
}
.myButton:hover {
  background-color: white;
  color: #081f2d;
  border-color: #081f2d;
  transition: 0.3s;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.btn-back {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding: 0 10px 0 30px;
  left: 100px;
  top: 100px;
  line-height: 44px;
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 12px;
}
.btn-back:active {
  top: 101px;
}

.btn-back:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  right: 0;
  height: 34px;
  margin-top: 5px;
  z-index: -1;
  border: 1px solid #000;
  border-left-width: 0;
  border-radius: 5px;
  background: #fff;
}

.btn-back:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 11px;
  height: 27px;
  width: 26px;
  top: 8px;
  z-index: -2;
  border: 1px solid #000;
  border-top: 0 transparent;
  border-right: 0 transparent;
  border-radius: 7px 5px 5px 7px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#location-section {
  width: 100%;
  height: 100%;
}

/* MAP */
#map {
  flex: 1;
  height: 90%;
  margin: auto;
  width: 70%;
  background-color: #aaa;
}

.about-page .title {
  text-align: center;
}

#articles-page #articles-section {
  background-color: white;
}
#articles-page #articles-section .card-container {
  width: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#articles-page #articles-section .card-container:hover {
  background-color: rgba(0, 0, 0, 0.102);
}
#articles-page #articles-section .card-container img {
  width: 100%;
}

#articles-section a {
  color: black;
}

#article-section {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  background-color: #b3a18f;
  color: white;
}
#footer a {
  color: white;
}
#footer a:hover {
  color: #f0ebce;
}
#footer ul {
  margin: 20px;
  list-style: none;
  display: inline-block;
  padding: 0;
}
#footer ul li {
  margin: auto;
}
#footer .social-media {
  margin: 20px;
  font-size: 30px;
  align-items: center;
}
#footer .social-media i {
  padding: 5px;
}

.about-page .title {
  text-align: center;
}

/**NOTE - Global Styles */
* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 40px 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
}
.row img {
  margin-right: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
}
.col img {
  margin-right: 15px;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 50px;
}/*# sourceMappingURL=index.css.map */