@charset "UTF-8";
/***** NAVBAR Start *****/
@import url(https://fonts.googleapis.com/css?family=Raleway);
.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 1em;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

.navbar-bg {
  background-color: #5b7071;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
  z-index: 2;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: aliceblue;
  position: relative;
  padding: 5px 0;
}
.menu li .dropdown {
  display: none;
  padding: 15px;
  position: absolute;
  width: 100%;
  background-color: #5b7071;
  top: 45px;
}
.menu li:hover ul {
  display: block;
}
.menu .logo {
  font-size: 27px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  font-family: "Rubik 80s Fade", cursive;
  font-weight: bold;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.menu a {
  position: relative;
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
}
.menu a:visited {
  color: aliceblue;
  text-decoration: none;
}
.menu a:hover {
  color: aliceblue;
  text-decoration: none;
}
.menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  margin: auto;
  height: 3px;
  bottom: -5px;
  background-color: aliceblue;
  visibility: hidden;
  transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.menu li.active > a:before,
.menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.menu .dropdown a:before {
  background-color: rgba(255, 255, 255, 0.467);
}

.menu-button-container {
  background-color: #b3a18f;
  border-radius: 2px;
  display: none;
  height: 30px;
  width: 37px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media only screen and (max-width: 1200px) {
  .navbar .logo {
    font-size: 20px;
  }
  .menu li {
    margin: 0 3px;
    padding: 3px;
  }
  .menu li .dropdown {
    top: 36px;
  }
  .menu li .dropdown li a {
    font-size: 14px;
  }
  .menu li a {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .logo {
    background-color: white !important;
    border-radius: 0 !important;
    color: #5b7071 !important;
  }
  .navbar {
    font-size: 13px;
    justify-content: right;
  }
  .navbar .menu li {
    margin: 0 3px;
    padding: 3px;
    position: static;
  }
  .navbar .menu li .dropdown {
    position: absolute;
    top: 31px;
    width: 180px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 12;
  }
  .navbar .menu li .dropdown li a {
    font-size: 14px;
  }
  .navbar .menu li a {
    font-size: 15px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 56px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  #menu-toggle ~ .menu li {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    display: block;
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: red;
    background-color: #5b7071;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu li:hover:not(.active) {
    transform: skew(0deg);
    z-index: 3;
  }
  .menu .active {
    transform: skew(0deg);
    z-index: 2;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    font-size: 13px;
  }
  .navbar .logo span {
    font-size: 15px;
  }
  .menu li {
    margin: 0 3px;
    padding: 3px;
  }
}
/***** NAVBAR Ends *****/
/***** Home Section Start Starts *****/
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("https://i.ibb.co/25Ysz4P/orange-car.png") url("https://i.ibb.co/FBFqc6r/blue-car.png") url("https://i.ibb.co/xg2T2BC/yellow-car.png") url("https://i.ibb.co/MnwtyXG/green-car.png");
}

#home-header {
  background-image: url("../../assets/images/orange-car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  min-height: auto;
  color: aliceblue;
  transition: all 0.6s ease-in;
}
#home-header p {
  padding-bottom: 5px;
}
#home-header .color-picker {
  text-align: center;
  position: relative;
  top: 100px;
}
#home-header .color-picker h3 {
  font-size: 25px;
}
#home-header .color-picker .colors {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  border-style: solid;
  margin: 10px;
  cursor: pointer;
}
#home-header .color-picker .colors:nth-child(1) {
  background-color: orangered;
}
#home-header .color-picker .colors:nth-child(1):active {
  top: 1px;
}
#home-header .color-picker .colors:nth-child(2) {
  background-color: blue;
}
#home-header .color-picker .colors:nth-child(2):active {
  top: 1px;
}
#home-header .color-picker .colors:nth-child(3) {
  background-color: yellow;
}
#home-header .color-picker .colors:nth-child(3):active {
  top: 1px;
}
#home-header .color-picker .colors:nth-child(4) {
  background-color: green;
}
#home-header .color-picker .colors:nth-child(4):active {
  top: 1px;
}

.color:active {
  position: relative;
  top: 158px;
}

#about-section h2 {
  margin-top: 0;
}
#about-section img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: top left;
  margin-right: 30px;
}
#about-section .about-content {
  position: relative;
  display: inline-block;
}

#collection-section a {
  font-size: 35px;
  color: rgba(255, 255, 255, 0);
}
#collection-section a:hover {
  color: white;
}
#collection-section .grid-collection {
  display: grid;
  grid-template-areas: "collection1 collection2" "collection1  collection3";
  grid-template-rows: 250px 250px;
  grid-template-columns: 65% 35%;
  grid-gap: 12px;
  width: 100%;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
  overflow: hidden;
  margin: 0 auto;
}
#collection-section .grid-collection .arrow-link {
  position: relative;
}
#collection-section .grid-collection #category1 {
  grid-area: collection1;
  background-image: url("https://images.unsplash.com/photo-1588127333419-b9d7de223dcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#collection-section .grid-collection #category1 span {
  position: absolute;
  bottom: 70px;
}
#collection-section .grid-collection #category1:after {
  content: "→";
  display: inline-block;
  z-index: 1;
  font-size: 180px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-left: 25px;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
}
#collection-section .grid-collection #category1:hover:after {
  transform: translateX(150px);
}
#collection-section .grid-collection #category2 {
  grid-area: collection2;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1563720223523-491ff04651de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
#collection-section .grid-collection #category2 span {
  position: absolute;
  bottom: 38px;
}
#collection-section .grid-collection #category2:after {
  z-index: 1;
  font-size: 140px;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  content: "→";
  color: white;
  margin-left: 18px;
  top: 100px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
}
#collection-section .grid-collection #category2:hover:after {
  transform: translateX(110px);
}
#collection-section .grid-collection #category3 {
  grid-area: collection3;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1614377284368-a6d4f911edc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
#collection-section .grid-collection #category3 span {
  position: absolute;
  bottom: 38px;
}
#collection-section .grid-collection #category3:after {
  font-size: 140px;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  content: "→";
  color: white;
  margin-left: 18px;
  top: 100px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
}
#collection-section .grid-collection #category3:hover:after {
  transform: translateX(135px);
}

#featured-section {
  background-color: #b3a18f;
}
#featured-section .row img {
  width: 40%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
#featured-section .row div {
  width: 60%;
}
#featured-section .row div h2 {
  margin: 0;
}
#featured-section .lamborghini {
  margin-left: 20px;
}
#featured-section .ferrari {
  margin-right: 20px;
}
#featured-section .ferrari-row {
  flex-direction: row-reverse;
}

#location-section .container #map {
  width: 80%;
  height: 700px;
  min-height: auto;
}

@media only screen and (max-width: 1200px) {
  .arrow-link {
    position: relative;
  }
  .arrow-link span {
    font-size: 30px;
  }
  .arrow-link:after {
    font-size: 140px !important;
    margin-left: 10px !important;
  }
  #category1:after {
    font-size: 170px !important;
  }
  #category2:after {
    top: 105px !important;
  }
  #category3:after {
    top: 105px !important;
  }
  #location-section .container #map {
    width: 90%;
    height: 600px;
    min-height: auto;
  }
}
@media only screen and (max-width: 992px) {
  #home-header {
    height: 580px;
    position: relative;
  }
  #home-header .color-picker {
    top: 80px;
  }
  #featured-section .row {
    margin: auto;
    width: 70%;
  }
  #featured-section .row img {
    width: 100%;
  }
  #featured-section .row div {
    width: 100%;
    margin: 0;
  }
  .arrow-link {
    position: relative;
  }
  .arrow-link span {
    font-size: 25px !important;
  }
  .arrow-link:after {
    font-size: 100px !important;
    margin-left: 5px !important;
  }
  .arrow-link:hover:after {
    transform: translateX(90px) !important;
  }
  #category1:after {
    font-size: 130px !important;
    top: 345px !important;
  }
  #category1:hover:after {
    transform: translateX(125px) !important;
  }
  #category2:after {
    top: 135px !important;
  }
  #category3:after {
    top: 135px !important;
  }
  #category3:hover:after {
    transform: translateX(105px) !important;
  }
  .color-picker {
    text-align: center;
    position: relative;
    top: 150px;
  }
  .color-picker h3 {
    font-size: 20px !important;
  }
  .color-picker .colors {
    position: relative;
    width: 26px !important;
    height: 26px !important;
    background-color: white;
    border-radius: 100%;
    border-style: solid;
    margin: 10px;
  }
}
@media only screen and (max-width: 768px) {
  #home-header {
    height: 480px;
    position: relative;
  }
  #home-header .color-picker {
    top: 30px;
  }
  .grid-collection {
    grid-template-areas: "collection1" "collection2" "collection3" !important;
    grid-template-rows: 250px 250px 250px !important;
    grid-template-columns: 1fr !important;
  }
  #featured-section .row {
    margin: auto;
    width: 100%;
  }
  #location-section .container #map {
    width: 100%;
    height: 400px;
  }
  .arrow-link {
    position: relative;
  }
  .arrow-link span {
    top: 202px;
    font-size: 25px !important;
  }
  .arrow-link:after {
    font-size: 130px !important;
    margin-left: 5px !important;
    top: 135px !important;
  }
  .arrow-link:hover:after {
    transform: translateX(90px) !important;
  }
  #category1:after {
    top: 135px !important;
  }
}
@media only screen and (max-width: 576px) {
  h3 {
    font-size: 18px !important;
  }
  #home-header {
    height: 480px;
    position: relative;
  }
  #home-header .color-picker {
    margin: 0 !important;
  }
}
/***** Home Section Start Ends *****/
.myButton {
  background-color: #efe3b1;
  border-radius: 29px;
  border: 1px solid #081f2d;
  color: #081f2d;
  font-size: 15px;
  padding: 10px 45px;
  cursor: pointer;
  transition: 0.3s;
}
.myButton:hover {
  background-color: white;
  color: #081f2d;
  border-color: #081f2d;
  transition: 0.3s;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.btn-back {
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding: 0 10px 0 30px;
  left: -8px;
  top: 15px;
  line-height: 44px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.btn-back:active {
  top: 16px;
}

.btn-back:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  right: 0;
  height: 34px;
  margin-top: 5px;
  z-index: -1;
  border: 1px solid #000;
  border-left-width: 0;
  border-radius: 5px;
  background: #fff;
}

.btn-back:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 11px;
  height: 27px;
  width: 26px;
  top: 8px;
  z-index: -2;
  border: 1px solid #000;
  border-top: 0 transparent;
  border-right: 0 transparent;
  border-radius: 7px 5px 5px 7px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#location-section {
  width: 100%;
  height: 100%;
}

/* MAP */
#map {
  flex: 1;
  height: 90%;
  margin: auto;
  width: 70%;
  background-color: #aaa;
}

.about-page .title {
  text-align: center;
}

#articles-section {
  background-color: #b3a18f;
}
#articles-section a {
  color: black;
}
#articles-section .card-container {
  width: 400px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}
#articles-section .card-container:hover {
  background-color: rgba(255, 255, 255, 0.102);
}
#articles-section .card-container img {
  width: 100%;
}

#articles-page #articles-section {
  background-color: white;
}
#articles-page #articles-section .card-container:hover {
  background-color: rgba(0, 0, 0, 0.102);
}

@media only screen and (max-width: 992px) {
  #articles-section .card-container {
    width: 330px !important;
    margin: 15px !important;
    padding: 8px !important;
  }
}
#article-section {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
#article-section .header-img {
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
  object-fit: cover;
}
#article-section iframe {
  max-width: 100%;
  width: 580px;
}
#article-section figure {
  margin-bottom: 10px;
}
#article-section figure img {
  width: 480px;
  max-width: 100%;
  height: 380px;
}
#article-section ul {
  display: flex;
  flex-wrap: wrap;
  list-style: circle;
  padding: 0;
}
#article-section ul li {
  list-style-position: inside;
  padding-bottom: 5px;
}

.featured .header-img {
  object-position: 5px 70%;
}

@media only screen and (max-width: 1200px) {
  #article-section {
    width: 60vw;
  }
  .header-img {
    height: 200px !important;
  }
}
@media only screen and (max-width: 992px) {
  #article-section {
    width: 70vw;
  }
}
@media only screen and (max-width: 768px) {
  #article-section {
    width: 80vw;
  }
}
@media only screen and (max-width: 576px) {
  #article-section {
    width: 90vw;
  }
  .header-img {
    height: 160px !important;
  }
}
#collection {
  /* hover effect */
  /*TODO - Add feature that limits collection to show only 4 cards and a button option to add more card or decrease current number of cards*/
  /* button */
}
#collection .card-container {
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 1em 0;
}
#collection .car-card {
  background-color: #fff;
  box-shadow: 0px 4px 8px #ededed;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  height: 400px;
  padding: 10px 45px;
  transition: 0.5s ease;
  width: 100%;
}
#collection .car-card img {
  max-width: 350px;
  object-fit: contain;
  place-self: center;
  transition: 0.5s ease;
  width: 100%;
}
#collection .car-card ul {
  color: #bababa;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  align-content: center;
}
#collection .car-card li {
  text-align: center;
}
#collection .car-card h2 {
  align-self: center;
  color: #000;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
#collection .car-link {
  text-decoration: none;
  transition: 0.5s ease;
}
#collection .car-link:hover .car-card {
  box-shadow: 0px 6px 8px #d9d9d9;
  transition: 0.5s ease;
}
#collection .car-link:hover img {
  transform: scale(1.05);
  transition: 0.5s ease;
}
@media (max-width: 700px) {
  #collection .card-container {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #collection .car-card h2 {
    font-size: 18px;
    line-height: 20px;
  }
  #collection .car-card ul {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  #collection h1 {
    font-size: 18px;
    text-align: center;
  }
  #collection .car-card ul {
    flex-direction: column;
  }
  #collection .car-card li {
    margin-bottom: 5px;
  }
  #collection li:nth-child(2) {
    margin: 0 0 5px;
  }
}

#footer {
  background-color: #b3a18f;
  color: white;
}
#footer a {
  color: white;
}
#footer a:hover {
  color: #f0ebce;
}
#footer ul {
  margin: 20px;
  list-style: none;
  display: inline-block;
  padding: 0;
}
#footer ul li {
  margin: auto;
}
#footer .social-media {
  margin: 20px;
  font-size: 30px;
  align-items: center;
}
#footer .social-media i {
  padding: 5px;
}

.about-page .title {
  text-align: center;
}

button,
input,
select,
textarea {
  color: #f2f3eb !important;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#contact-container {
  background-color: #5b7071;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.email {
  float: right;
  width: 45%;
}

input[type=text],
[type=email],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px rgba(255, 255, 255, 0.4);
  color: #f2f3eb;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=text]:focus,
[type=email]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #f2f3eb;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #fffdfc;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  .underline {
    width: 68px;
  }
  #form_button {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  .icon {
    height: 35px;
    width: 35px;
  }
  .underline {
    width: 53px;
  }
  input[type=text],
[type=email],
select,
textarea {
    font-size: 0.875em;
  }
}
#shop-page .warning-content {
  height: 300px;
  text-align: center;
  margin: 0;
}

/**NOTE - Global Styles */
* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  line-height: 1.5;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 40px 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
  min-height: auto;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
}
.flex-wrap img {
  margin-right: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
}
.col img {
  margin-right: 15px;
}

.hidden {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}

.margin-top {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  .container {
    width: 95%;
  }
  .row {
    flex-wrap: wrap;
  }
  .row > img {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
}/*# sourceMappingURL=index.css.map */